<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
        .jumbotron-billboard {
            margin-bottom: 0px;
            opacity: 1;
            color: #fff;
            background: #000 url("/pexels-photo-302905.jpg") center center;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>


    <div class="jumbotron jumbotron-billboard">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Not just a coffee house. But... A home</h1>
                    <br></br>
                    <h3>Our definition</h3>
                    <p>
                        ✻ RE:DEFINED COFFEE HOUSE IS A PLACE WHERE FAMILY, FRIENDS AND COMMUNITY HAPPEN. WITH COMFORTABLE PLUSH SEATING, A HOMEY FEEL AND GREAT COFFEE, YOU CAN TRULY MAKE US YOUR HOME AWAY FROM HOME
                    </p>

                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
            <h2>Enrich today's menu with a new coffee taste...</h2>
    </div>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Products</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="product_name">Product Name:</label>
                        <input type="text" class="form-control" id="product_name"/>
                    </div>
                    <div class="form-group">
                        <label for="product_price">Price:</label>
                        <input type="text" class="form-control" id="product_price"/>
                    </div>
                    <button type="submit" class="btn btn-default" id="btn_submit">Add New Product</button>
                </form>
            </div>
        </div>
        <br />
        <div class="row navigation-order">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <a href="/orders">Click here to go to Customer Order Management</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
<div class="row">

    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/coffee-house-grapevine-tx-cup-300x200.jpg" alt="cup">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="coffee-house-grapevine-tx-latte-300x200.jpg" alt="latte">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/double-o-g-coffee-rch-300x200.jpg" alt="double">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/cortado-coffee-shop-300x200.jpg" alt="double">
        </a>
    </div>
</div>
</div>
<br>
<br>
<br>
    <div th:replace="fragments/footer :: footer">...</div>

<script src="/jquery.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#btn_submit').on("click",function (e) {
            e.preventDefault();
            var productName, productPrice;
            productName = $('#product_name').val();
            productPrice = $('#product_price').val();
            if($.trim(productName) === ""){
                alert("Product name cannot be empty");
            }
            else if(!$.trim($.isNumeric(productPrice))){
                alert("Price must be numeric");
            }
            else {
                var data = {};
                data["productName"] = productName;
                data["productPrice"] = productPrice;
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/saveproduct",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    timeout: 6000,
                    success: function (data) {
                        if (confirm("Product with Id " +data + " Saved")){
                            window.location.reload();
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>
