<style>
    .bela{
        background-color: ghostwhite;
    }
</style>
<div th:fragment="footer" class="navbar navbar-default navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="bela">


        <footer>
        <p class="bela navbar-text pull-left">&copy;<script>var date = new Date(); document.write(date.getFullYear() + " | Hristina and Viktorija ")</script>

        </p>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </nav>
</div>